
Triple5data/T5unpol/OP1_dream/T5fit-chain.mc
Triple5data/T5unpol/OP1_dream/T5fit-err.json
Triple5data/T5unpol/OP1_dream/T5fit-errors.png
Triple5data/T5unpol/OP1_dream/T5fit-expt.json
Triple5data/T5unpol/OP1_dream/T5fit-logp.png
Triple5data/T5unpol/OP1_dream/T5fit-model.png
Triple5data/T5unpol/OP1_dream/T5fit-point.mc
Triple5data/T5unpol/OP1_dream/T5fit-profile.dat
Triple5data/T5unpol/OP1_dream/T5fit-refl.dat
Triple5data/T5unpol/OP1_dream/T5fit-slabs.dat
Triple5data/T5unpol/OP1_dream/T5fit-stats.mc
Triple5data/T5unpol/OP1_dream/T5fit-steps.dat
Triple5data/T5unpol/OP1_dream/T5fit-trace.png
Triple5data/T5unpol/OP1_dream/T5fit-vars.png
Triple5data/T5unpol/OP1_dream/T5fit.err
Triple5data/T5unpol/OP1_dream/T5fit.par
Triple5data/T5unpol/OP1_dream/T5fit.py
